- present file do |presenter|
  %article.file[file]
    %div
      .path= presenter.path
      .elapsed= presenter.elapsed
      .clearfix
    .percentage_img_container
      .percentage
        %img.percentage_img{src: asset_path('percentage.png'), alt: "#{presenter.percent}% of total time", 'data-width' => presenter.percent}/
    .clearfix