%article.file[file]
  %div
    .path= file.path
    .elapsed= file.elapsed
    .clearfix
  .percentage_img_container
    .percentage
      %img.percentage_img{src: asset_path('percentage.png'), 'data-width' => file.percent}/
  .clearfix