- present project do |presenter|
  %article.project[project]
    .name
      %a{href: path_to(:project).with(presenter.id), alt: presenter.path}
        = presenter.name.camelcase
    .percentage_img_container
      .percentage
        %img.percentage_img{src: asset_path('percentage.png'), alt: "#{presenter.percent}% of total time", 'data-width' => presenter.percent}/
    .elapsed= presenter.elapsed(project.durations.date_range(session[:date_filtering][:from_date], session[:date_filtering][:to_date]).sum(:duration))
    .clearfix