%article.project[project]
  .name
    %a{href: path_to(:project).with(project.id), alt: project.path}
      = project.name.camelcase
  .percentage_img_container
    .percentage
      -# TODO: Move this to the presenter after having resolved the presenter
      -#       issues, in Draper I can't access helpers for some reason
      - max_elapsed = ::WatchTower::Server::Project.order('elapsed_time DESC').first.elapsed_time
      - percentage = (project.elapsed_time * 100 / max_elapsed).to_i rescue 100
      %img.percentage_img{src: asset_path('percentage.png'), 'data-width' => percentage}/
  .elapsed= project.elapsed
  .clearfix