- present @project do |presenter|
  .back
    %a{:href => '/'} &laquo; Home
    .clearfix
  %article#project
    %header
      %h1.project_name= presenter.name.camelcase
      %h2.project_path= presenter.path
    %section#files
      - if @files.any?
        = presenter.file_tree(@files)
      - else
        No files available for the selected date range.